.page__title {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 32px;
  margin-top: 24px;
  margin-left: 134px;
}

.page__title--icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.page__title--title {
  line-height: 32px;
  font-size: 24;
  font-weight: 700;
  font-style: bold;
  color: #212121;
}
